.Impresiones-Contador{
  margin-right: 1em;
  padding: 16px;
}

.Impresiones-Title{
  width: 100%;
  margin:0;
  padding-left: 0;
  padding-right: 0;
}

.Impresiones-Title p{
  margin: 0;
  letter-spacing: 1px;
  padding-left: 1em;
  padding-right: 1em;
}

.Impresiones-Nuevo{
  padding: 16px;
}

.Impresiones-Content label{
  letter-spacing: 1px;
}
