@import "~@blueprintjs/core/dist/blueprint.css";

* {
  margin: 0;
  font-size: 16px;
}

.Content{
  margin-top: 3em;
}

@import "./containers/Login/Login.css";
@import "./components/Header/header.css";
@import "./components/Navbar/Navbar.css";
