@import "~@blueprintjs/core/dist/blueprint.css";

* {
  margin: 0;
  font-size: 16px;
}

.Content{
  margin-top: 3em;
}

.Layout{
  background-color: #f5f8fa;
  min-width: 100vh;
}

.test{
  border: 1px solid red;
  box-sizing: border-box;
}

@import "./containers/Login/Login.css";
@import "./containers/Impresiones/Impresiones.css";
@import "./components/Header/header.css";
@import "./components/Navbar/Navbar.css";
