.Login-background{
  background-color: #f5f8fa;
  min-height: 100vh;
}

.Login-Card{
  margin-top: 10em;
}

.Login-Card .Login-Button{
  margin-top: 2em;
}

.Login-Logo{
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
}
.Login-Logo img {
    height: 150px;
    width: 150px;
}

.Login-Card .Login-Form{
  margin-top: 6em;
}
